.eh-link-media-reveal {
	position: relative;
  line-height: initial;
}

.eh-link-media-reveal__outer {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	will-change: transform;
	overflow: hidden;
}

.eh-link-media-reveal__inner {
	overflow: hidden;
}

.eh-link-media-reveal__inner,
.eh-link-media-reveal__media,
.eh-link-media-reveal__media>* {
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;
}
