.eh-webgl-slideshow__wrapper {
  position: relative;
  max-width: 100%;
}

.eh-webgl-slideshow__image {
  display: block;
  width: 100%;
  visibility: hidden;
}
  
.eh-webgl-slideshow__canvas {
   display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.eh-webgl-slideshow_builder-images {
	display: none;
}