.eh-webgl-media-hover-distortion {
	max-width: 100%;
	position: relative;
}

.eh-webgl-media-hover-distortion img,
.eh-webgl-media-hover-distortion video {
  	display: block;
  	width: 100%;
	height: 100%;
  	visibility: hidden;
}

.eh-webgl-media-hover-distortion .eh-webgl-media-hover-distortion__canvas {
	position: absolute;
  	inset: 0;
  	width: 100%;
  	height: 100%;
}	
